$lista-display: inline;
$lista-padding-left: 20px;
$lista-padding-right: 30px;
$lista-text-align: center;

$grosor_letra: 100;
$tamanio_letra:large;
$ubicacion_texto:end;
$fuente: Arial, Helvetica, sans-serif;
$alineacion: center;

$estilo_link: none;
$color_letra: white;
$espacio_alrededor: space-around;
